*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto ;
}

body{
    background-color: rgb(204, 217, 228);
}


h1{
    color: black;
    size: 40px;
    text-align: center;
}

#Logo{
    position: absolute;
    width: 10%;
    height: 3%;
    left: 400px;
}

#text{
    text-align: center;
    position: relative;
    top: 50px;
    
}

#mapa{
    text-align: center;
    position: relative;
    top: 60px;
   
}

#links{
    text-align: center;
    position: relative;
    top: 70px;
}

#End{
    text-align: center;
    position: relative;
    top: 100px;
}